@{
    ViewData["Title"] = "Home Page";
}
<div class="spacer" >

        <p>
    <div class="marquee">
        <div class="marqueeone">
                <img src="/img/oggetto1.jpg" width="300" height="300">
                <img src="/img/oggetto2.jpg" width="300" height="300">
                <img src="/img/oggetto4.jpg" width="300" height="300">
                <img src="/img/oggetto5.jpg" width="300" height="300">
        </div>
        <div class="marqueetwo">
                <img src="/img/oggetto1.jpg" width="300" height="300">
                <img src="/img/oggetto2.jpg" width="300" height="300">
                <img src="/img/oggetto4.jpg" width="300" height="300">
                <img src="/img/oggetto5.jpg" width="300" height="300">
               </div>
          <div class="marqueethree">
                <img src="/img/oggetto1.jpg" width="300" height="300">
                <img src="/img/oggetto2.jpg" width="300" height="300">
                <img src="/img/oggetto4.jpg" width="300" height="300">
                <img src="/img/oggetto5.jpg" width="300" height="300">
          </div>
          <div class="marqueefour">
                <img src="/img/oggetto1.jpg" width="300" height="300">
                <img src="/img/oggetto2.jpg" width="300" height="300">
                <img src="/img/oggetto4.jpg" width="300" height="300">
                <img src="/img/oggetto5.jpg" width="300" height="300">
          </div>
    </div>
  </p>

</div>


