@{
    ViewData["Title"] = "Home Page";
}

<section class="sfondoRosa py-5 ">
    <marquee 
      onmouseover="this.stop();" onmouseout="this.start();"
      width="100%"
      behavior="alternate">
      <img class="oggetto" src="~/img/oggetto1.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto2.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto3.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto4.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto5.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto6.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto7.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto8.jpg" alt="">
    </marquee>
</section>
