@{
    Layout = null;
}

@model List<ClassificaProdotto>
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="sfondo-landing">
    <section class="effetto-parallax">
        <img src="~/img/MGeg.png" id="MGeg" class="img-parallax" />
        <img src="~/img/VGeg.png" id="VGeg" class="img-parallax" />
        <h2 id="landingtext">EGYPT</h2>
    </section>
    





  </body>
</html>



<script type="text/javascript">
    let mgeg = document.getElementById("MGeg");
    let vgeg = document.getElementById("VGeg");
    let text = document.getElementById("landingtext");

    window.addEventListener('scroll', function(){
        var value = window.scrollY;

        mgeg.style.top = value * 0.5 + 'px';
        vgeg.style.top = value * 0.2 + 'px';
        text.style.top = value * 0.6 + 'px';
    })
</script>
