@{
    Layout = null;
}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="~/css/stylenavbar.css">
    <link rel="stylesheet" href="~/css/styleseller.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />

    <title>MUSEUMSHOP</title>
  </head>
  <body>




    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
    <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap">
      <div class="site-navbar-top">
        <div class="container py-3">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="d-flex mr-auto">
                <a href="#" class="d-flex align-items-center mr-4">
                  <span class="icon-envelope mr-2"></span>
                  <span class="d-none d-md-inline-block">info@domain.com</span>
                </a>
                <a href="#" class="d-flex align-items-center mr-auto">
                  <span class="icon-phone mr-2"></span>
                  <span class="d-none d-md-inline-block">+1 234 4567 8910</span>
                </a>
              </div>
            </div>
            <div class="col-6 text-right">
              <div class="mr-auto">
                <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2">
              <a  asp-controller="Home" asp-action="Index"><img src="~/img/logomuseobianco.png" width="auto" height="50" alt="museo" /></a>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                                      
                    
                    <li><a asp-controller="User" asp-action="Index" class="nav-link">SHOP</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    


  <section class="effetto-parallax">
        <img src="~/img/MGeg.png" id="MGeg" class="img-parallax" />
        <img src="~/img/VGeg.png" id="VGeg" class="img-parallax" />
        <h2 id="landingtext" style="font-family: 'Raleway', sans-serif;">MUSEUMSHOP</h2>
    </section>

    <h1 class="text-center text-white"> Benvenuti nel nostro shop online! </h1>

  <div class="content">
    
    <div class="site-blocks-cover">
      <div class="img-wrap">
        <div class="owl-carousel slide-one-item hero-slider">
          <div class="slide">
            <img src="images/hero_1.jpg" alt="Free Website Template by Free-Template.co">  
          </div>
          <div class="slide">
            <img src="images/hero_2.jpg" alt="Free Website Template by Free-Template.co">  
          </div>
          <div class="slide">
            <img src="images/hero_3.jpg" alt="Free Website Template by Free-Template.co">  
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto align-self-center">
            <div class="intro">
              <div class="heading">
                <h1 class="text-white font-weight-bold">Best Sellers</h1>
              </div>
              <div class="text sub-text">
                <p>Esplora la selezione dei prodotti più venduti.</p>
                <p><a asp-controller="User" asp-action="AcquistiMensili" class="btn btn-outline-primary btn-md btn-pill">SCOPRILI TUTTI</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-blocks-cover -->
  </div>
    
      <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-6 col-md-6">
                    <p class="small"><img src="~/img/logomuseonero.png" width="auto" height="50" alt="museo" /> </p>
                    <p class="small"><img src="~/img/location.png" width="15" height="20" alt="email" /> Via Cristoforo Colombo, Italia, NA 80132</p>
                    <p class="small"><img src="~/img/telefono.png" width="20" height="20" alt="email" /> 081 123 1492</p>
                    <p class="small"><img src="~/img/lettera.png" width="20" height="20" alt="email" /> museumshop@gmail.com</p>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    
                </div>
                <div class="col-lg-2 col-md-6 text-right">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="User" asp-action="Index">Shop</a></li>
                        <li><a asp-controller="User" asp-action="AcquistiMensili">Best Sellers</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center text-black"><small>Copyright 2022  &copy;  <a href="https://localhost:7281/admin/index">Admin</a></small></div>
            </div>
        </div>

        
         
            
    </footer>
    

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/mainnavbar.js"></script>
  </body>
</html>



<script type="text/javascript">
    let mgeg = document.getElementById("MGeg");
    let vgeg = document.getElementById("VGeg");
    let text = document.getElementById("landingtext");

    window.addEventListener('scroll', function(){
        var value = window.scrollY;

        mgeg.style.top = value * 0.5 + 'px';
        vgeg.style.top = value * 0.2 + 'px';
        text.style.top = value * 0.6 + 'px';
    })
</script>
