
body {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.sfondoRosa {
    background-color: rgba(204,166,154,255);
    background-size: cover;
    height: 100%;
}

.sfondoGiallo {
    background-color: rgba(252,227,115,255);
    background-size: cover;
    height: 100%;
}

.sfondoArancione {
    background-color: rgba(243,116,74,255);
    background-size: cover;
    height: 100%;
}

.sfondoVerde {
    background-color: rgba(154,209,139,255);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.sfondoBlu {
    background-color: rgb(48, 127, 156);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.sfondoPergamena {
    background-color: rgb(219,198,145);
    background-size: cover;
    height: 100%;
    width: 100%;
}


marquee {
    height: 300px;
    width: 100%;
    max-width: 100%;
}

.oggetto {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
img + img {
    margin-left: 40px;
}

.titolo {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
}
a {
    color:black;
    text-decoration:unset;
}


#FormModifica {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
.form-select {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}

input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
}



/* 
========================
      BUTTON ONE
========================
*/
.btn-2 {
    letter-spacing: 0;
}

    .btn-2:hover,
    .btn-2:active {
        letter-spacing: 5px;
    }

    .btn-2:after,
    .btn-2:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
    }

    .btn-2:hover:after,
    .btn-2:hover:before {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 70%;
    }

    .btn-2:hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
    }

