
body {

    font-family: 'Raleway';
    font-size: 22px;

}

.sfondoRosa {
    background-color: rgba(204,166,154,255);
    background-size: cover;
    height: 100%;
}

.sfondoGiallo {
    background-color: rgba(252,227,115,255);
    background-size: cover;
    height: 100%;
}

.sfondoArancione {
    background-color: rgba(243,116,74,255);
    background-size: cover;
    height: 100%;
}

.sfondoVerde {
    background-color: rgba(154,209,139,255);
    background-size: cover;
    height: 100%;
}