
<div class="sfondoPergamena">
    <div class="container-fluid p-5">
            <div class=" text-center row">
                <div class=" col-12">
                    <h1 class="mt-3 mb-3">Classifica prodotti venduti negli ultimi trenta giorni</h1>
                </div>
            </div>
        <div id="attesa-prodotto" class="row js_wait_post text-center">
            <div class="col-12">
                <h3>Caricamento ...</h3>
            </div>
        </div>
        <div id="prodotto-non-disponibile" class="row js_no_post text-center d-none">
            <div class="col-12">
                <h3>Non hai inserito alcun post</h3>
            </div>
        </div>
        <div id="prodotto-disponibile" class="row js_post_cards d-none">
            <table class="table">
                <thead>
                    <tr>
                        <th class=col-4>
                            Nome prodotto
                        </th>
                        <th class=col-4>
                            Quantita acquistata
                        </th>
                        <th class=col-4>
                            Data dell'acquisto
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

            axios.get('/api/Acquisti/Get').then((result) => {
                // Codice che verrà eseguito quando arrivano i dati dalla mia web api
                console.log("Ho ricevuto il prodotto da visualizzare");
                if(result.data.length == 0){
                    document.getElementById('attesa-prodotto').classList.add('d-none');
                    document.getElementById('prodotto-non-disponibile').classList.remove('d-none');
                } else {
                    document.getElementById('prodotto-non-disponibile').classList.add('d-none');
                    document.getElementById('attesa-prodotto').classList.add('d-none');
                    document.getElementById('prodotto-disponibile').classList.remove('d-none');

                   result.data.forEach(listaProdotti => { 
  
                   
                   var formatoData = moment(listaProdotti.data).format('DD-MM-YYYY HH:mm');
                
                
                    

                       document.getElementById('prodotto-disponibile').innerHTML += 
                   `
                   <div class="row">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class=col-4>
                                        ${listaProdotti.prodotti.nome}
                                    </td>
                                    <td class=col-4>
                                       ${listaProdotti.quantitaDaAcquistare}
                                    </td>
                                    <td class=col-4>
                                        ${formatoData}
                                    </td>
                                </tr>
                           </tbody>
                        </table>
                    </div>
                   `
                    });
                }

            }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            });
        
    
    </script>
}
