
<div class="sfondoBlu">
<div class="container sfondoBlu">
    <div class="row">
    <div id="prodotto-div" class="row js_prodotto_cards">
        <!-- qui verranno mostrati gli elementi -->
    </div>
    </div>
</div>
</div>

@section Scripts {

    <script type="text/javascript">

      dettaglioElemento();
            console.log("Sono arrivato qui");
        function dettaglioElemento(){
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            console.log(id);
            axios.get('/api/Prodotti/GetId/' + id ).then((result) =>
                {
                // Codice che verrà eseguito quando arrivano i dati dalla mia web api
                console.log("Ho ricevuto il prodotto da visualizzare");
                       document.getElementById('prodotto-div').innerHTML += 
                            `
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-4 p-2 text-center">
                            <div class=" sfondoGiallo bg-opacity-10 border border-info  rounded-start rounded-end">
                             <h5 class="title mt-2">${result.data.nome}</h5>
                            </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6 col-2 mb-2">
                              <img id="myimage" src="${result.data.immagine}" style=" height: 500px; width: 500px;" Class="border border-2 border-warning rounded" alt="${result.data.descrizione}">
                            </div>
                            <div class="col-md-6 col-4 p-2">
                            <div class="p-3 sfondoGiallo bg-opacity-10 border border-info border-start-0 rounded-start">
                            <p class="text"> Descrizione: </p>
                            <p class="text my-2">${result.data.descrizione}</p>
                             <p class="text"> Costo: </p>
                            <p class="text my-2">${result.data.prezzo} €</p>
                            </div>
                             </div>
                            </div>
                           </div>                          
                            `
             }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            });
        }
    
    </script>
}
