@{
    ViewData["Title"] = "Home Page";
}
<div class="sfondoGiallo container-fluid justify-content-center p-3 text-center">
    <h1 class="titolo">
	<span>SHOP</span> 
</h1>
</div>

<section class="sfondoRosa py-5 ">
    <div class="container-fluid justify-content-center px-5 text-center">
       <h2>WHAT'S ON </h2>

       <div class="row">
            <div class="col-12 ">
                <div class="d-flex  justify-content-center mb-5">
                    <div>
                        <input class=" shadow border-0 rounded-pill" id="js_input_cerca" type="text" placeholder="  Cerca un prodotto...">
                    </div>
                </div>
            </div>
        </div>




        <div  class="container" >

            <!-- codice da inserire in js -->
           <div id="js_prodotti_div" class="row row-cols-1 row-cols-md-2 g-5 mx-5 ">
          


           </div>

           <div id="js_prodotti_attendi">
               <h1> h1 di prova - attendi </h1>
           </div>

           <div id="js_prodotti_vuoto" class="d-none">
               <h1> h1 di prova - db vuoto </h1>
           </div>
          
          
          
        </div>
    <!-- codice da inserire in js -->
    </div>
    


</section>

@section Scripts {

    <script type="text/javascript">
    
        document.getElementById("js_input_cerca").addEventListener('keyup', cercaInput);

        cercaInput();

        function cercaInput(){
            let stringaDiRicerca = document.getElementById("js_input_cerca").value;
            caricaProdotti(stringaDiRicerca);
        }

        function caricaProdotti(cercaParametro){

            document.getElementById("js_prodotti_div").innerHTML = '';

            axios.get('/API/Prodotti/Get', {
                params : {
                    cerca : cercaParametro
                }
            }).then((result) => {
                console.log("Carico i pacchetti");

                if(result.data.length == 0){
                    document.getElementById('js_prodotti_attendi').classList.add('d-none');
                    document.getElementById('js_prodotti_vuoto').classList.remove('d-none');
                } else {
                    document.getElementById('js_prodotti_attendi').classList.add('d-none');
                    document.getElementById('js_prodotti_vuoto').classList.add('d-none');
                    document.getElementById('js_prodotti_div').classList.remove('d-none');

                    result.data.forEach(conteggioLikes => {
                       
                        document.getElementById('js_prodotti_div').innerHTML +=
                        `
                            <div class="col">
                                <div class="card h-100 bg-transparent border-0">
                                  <container class="bg-warning">  
                                    <img src="${conteggioLikes.immagine}" height="600" width="400" class="card-img-top mx-auto d-block p-5" alt="${conteggioLikes.nome}">
                                  </container> 
                                  <div class="card-body ">
                                    <h6 class="card-title">${conteggioLikes.likeTotali}</h6>
                                    <h5 class="card-title fw-bold">${conteggioLikes.nome}</h5>
                                    <ul class="wrapper">
                                    <a onclick="Like(${conteggioLikes.id})" >
                                      <li class="icon facebook ">
                                        <span class="tooltip">LIKE</span>
                                        <span><img src="/img/cuore.png" width="26" height="29"/></span>
                                      </li>
                                     </a>
                                     <a href="Dettagli/${conteggioLikes.id}" >
                                      <li class="icon facebook" >
                                        <span class="tooltip">SHOP</span>
                                        <span > <img src="/img/carrello.png" width="20" height="20"/></span>
                                      </li>
                                      </a>

                                    </ul>
                                  </div>
                                  
                                  
                                </div>
                              </div>
                        `
                    });
                }
            }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            });
        }
    
    
    
    //Funzione like
             function Like(prodottoId)
            {
                console.log(prodottoId);
                    
                axios.post('/api/Prodotti/Like' , {
                    ProdottoId: prodottoId
                    
                }).then((result) => {
                    alert("Il tuo like é stato registrato correttamente!");
                }).catch((error) => {
                    console.log("C'è stato un errore: " + error);
                });
            }
    
    
    </script>






}