
@{
    Layout = "_LayoutUserProdotti";
}

@{
    ViewData["Title"] = "Home Page";
}
<div class="sfondoRosa container-fluid justify-content-center p-3 text-center">
    <h1 class="titolo">
	<span>SHOP</span> 
</h1>
</div>

<section class="sfondoRosa py-5">
    <div class="container-fluid justify-content-center px-5 text-center">
       <h2>WHAT'S ON </h2>

       <div class="row">
            <div class="col-12 ">
                <div class="d-flex  justify-content-center mb-5">
                    <div>
                        <input class=" shadow border-0 rounded-pill" id="js_input_cerca" type="text" placeholder="  Cerca un prodotto...">
                    </div>
                </div>
            </div>
        </div>

        <div  class="container" >

            <!-- codice da inserire in js -->
           <div id="js_prodotti_div" class="row row-cols-1 row-cols-md-2 g-5 mx-5 ">
          
           </div>
           <div id="js_prodotti_attendi">
               <br><br><br>
               <div class="w-100 d-flex align-items-center justify-content-center">
                    <div class="loader">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <span>Loading...</span>
                    </div>
               </div>
          </div>

           <div id="js_prodotti_vuoto" class="d-none">
               <div class="w-100 d-flex align-items-center justify-content-center">
                <br><br><br>

                <div class="loader">
                 <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <span>Loading...</span>
              </div>
               </div>
           </div>
        </div>
    <!-- codice da inserire in js -->
    </div>
    


</section>

@section Scripts {

    <script type="text/javascript">
    
        document.getElementById("js_input_cerca").addEventListener('keyup', cercaInput);

        cercaInput();

        function cercaInput(){
            let stringaDiRicerca = document.getElementById("js_input_cerca").value;
            caricaProdotti(stringaDiRicerca);
        }

        function caricaProdotti(cercaParametro){

            document.getElementById("js_prodotti_div").innerHTML = '';

            axios.get('/API/Prodotti/Get', {
                params : {
                    cerca : cercaParametro
                }
            }).then((result) => {
                console.log("Carico i pacchetti");

                if(result.data.length == 0){
                    document.getElementById('js_prodotti_attendi').classList.add('d-none');
                    document.getElementById('js_prodotti_vuoto').classList.remove('d-none');
                } else {
                    document.getElementById('js_prodotti_attendi').classList.add('d-none');
                    document.getElementById('js_prodotti_vuoto').classList.add('d-none');
                    document.getElementById('js_prodotti_div').classList.remove('d-none');

                    result.data.forEach(conteggioLikes => {
                       
                        document.getElementById('js_prodotti_div').innerHTML +=
                        `
                            <div class="col">
                                <div class="card bg-transparent border-0 w-100 d-flex align-items-center justify-content-center">
                                  <div class="bg-warning">  
                                    <img src="${conteggioLikes.immagine}"class="resize" alt="${conteggioLikes.nome}">
                                  </div> 
                                  <div class="card-body">

                                    <input class="text-center text-black" id="${conteggioLikes.id}" type=text readonly="readonly" value="${conteggioLikes.likeTotali}"></input>

                                    <h5 class="card-title fw-bold">${conteggioLikes.nome}</h5>
                                    <ul class="wrapper">
                                    <a onclick="Like(${conteggioLikes.id}); buttonClick(${conteggioLikes.id}, ${conteggioLikes.likeTotali})">
                                      <li class="icon facebook ">
                                        <span class="tooltip">LIKE</span>
                                        <span><img src="/img/cuore.png" width="26" height="29"/></span>
                                      </li>
                                     </a>
                                     <a href="User/Dettagli/${conteggioLikes.id}" >
                                      <li class="icon facebook" >
                                        <span class="tooltip">SHOP</span>
                                        <span > <img src="/img/carrello.png" width="20" height="20"/></span>
                                      </li>
                                      </a>

                                    </ul>
                                  </div>
                                  
                                  
                                </div>
                              </div>
                        `
                    });
                }
            }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            });
        }
    
    
    
    //Funzione like
             function Like(prodottoId)
            {
                console.log(prodottoId);
                    
                axios.post('/api/Prodotti/Like' , {
                    ProdottoId: prodottoId
                    
                }).then((result) => {
                    alert("Il tuo like é stato registrato correttamente!");
                }).catch((error) => {
                    console.log("C'è stato un errore: " + error);
                });
            }   
    </script>

    <script>
    function buttonClick(prodottoId, conteggio) {
        nuovoConteggio = document.getElementById(prodottoId).value;
        console.log(nuovoConteggio);
        document.getElementById(prodottoId).value = ++nuovoConteggio;
    }
</script>




}