@model List<QuantitaDisponibile>

    @foreach(QuantitaDisponibile categoria in Model)
                        {
                           <h1>@categoria.QuantitaTotale</h1> 
                        }
