@model List<quantitaDisponibile>

    @foreach(quantitaDisponibile categoria in Model)
                        {
                           <h1>@categoria.QuantitaTotale</h1> 
                        }
