@model List<QuantitaAggiunta>

    @foreach(QuantitaAggiunta categoria in Model)
                        {
                           <h1>@categoria.QuantitaTotale</h1>
                           <h1>@categoria.Nome</h1> 
                        }
