@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="it">
<head>
    
    <title>@ViewData["Title"] - web_app_Museo</title>
    <link rel="stylesheet"  href="~/css/styleguide.css">
    <link rel="stylesheet"  href="~/css/mandrakata.css">
    
</head>
<body>

    <div class="mntn screen">
        <div class="overlap-group3">
            <img class="hg" src="~/img/HG.png"/>
            <div class="bg-hero"></div>
            <div class= "content-2">
                <div class="group-17">
                    <div class="rectangle-21"></div>
                    <div class="a-hiking-guide gilroy-extra-extra-bold-grandis-18px">A HIKING GUIDE</div>
                </div>
                <h1 class="be-prepared-for-the">Be Prepared For The Mountains And Beyond! </h1>
                <div class="group-7">
                    <div class="equipment-2 gilroy-bold-white-18px">scroll down</div>
                    <img class="iconnavigationarrow_downward_24px-1" src="icon-navigation-arrow-downward-24px.svg"/>
                </div>
            </div>
            <img class="mg" src="~/img/MG.png"/>
            <img class="vg" src="~/img/VG.png"/>
            <div class="bg-content"></div>
            <img class="social" src="social.svg"/>
            <div class="slider">
                <div class="frame-1">
                    <img class="start" src="start.png" />
                    <img class="x01"src="01.png"/>
                    <img class="x02"src="02.png"/>
                    <img class="x03" src="03.png"/>
                </div>
                <div class="slider-1">
                    <div class="slider-indicator"></div>
                </div>
            </div>
            <div class="header">
                <img class="logo" src="logo.svg" />
                <div class="equipment-3 gilroy-bold-white-18px">Equipment</div>
                <div class="about-us gilroy-bold-white-18px" >Aboutus</div>
                <div class="blog gilroy-bold-white-18px">Blog</div>
                <div class="account">
                    <img class="icons-general-cart" src="icons-general-cart.svg"/>
                    <div class="account-1">Account</div>
                </div>
            </div>
            <div class="content-3">
                <div class="content-4">
                    <div class="overlap-group">
                        <div class="equipment gilroy-bold-white-240px">01</div>
                        <div class="content">
                            <div class="tagline">
                                <div class="line"></div>
                                <div class="g-et-started gilroy-extra-extra-bold-grandis-18px">GET STARTED</div>
                            </div>
                            <div class="what-level-of-hiker-are-you chronicledisplay-normal-white-64px">What level of&nbsp; 8nbsp;hiker are you?</div>
                            <div class="determining-what-lev gilroy-bold-white-18px">
                                Determining what level of hiker you are can be an
                                important tool when planning future hikes. This hiking level
                                guide will help
                                you plan hikes according to different hike
                                ratings set by various websites like All Trails and Modern
                                Hiker. What type of
                                hiker are you - novice, moderate, advanced
                                moderate, expert, or expert backpacker?
                            </div>
                            <div class="more">
                                <div class="equipment-1 gilroy-bold-grandis-18px">read more</div>
                                <img class="iconnavigationarrow_downward_24px" src="icon-navigation-arrow-downward-24px-1.svg"/>
                            </div>
                        </div>
                    </div>
                    <img class="x01-1" src="01-1.png"/>
                </div>
                <div class="content-1">
                    <img class="x01-2" src="01-2.png"/>
                    <div class="overlap-group1">
                        <div class="equipment gilroy-bold-white-240px">02</div>
                        <div class="content">
                            <div class="tagline-1">
                                <div class="line-1"></div>
                                <div class="hiking-essentials gilroy-extra-extra-bold-grandis-18px">HIKING ESSENTIALS</div>
                            </div>
                            <div class="picking-the-right-hiking-gear chronicledisplay-normal-white-64px">Picking the right Hiking Gear!</div>
                            <div class="the-nice-thing-about gilroy-bold-white-18px">
                                The nice thing about beginning hiking is that you
                                don't really need any special gear, you can probably get away
                                with things
                                you already have.<br />Let's start with clothing.
                                A typical mistake hiking beginners make is wearing jeans and
                                regular
                                clothes, which will get heavy and chafe wif they
                                get sweaty or wet.
                            </div>
                            <div class="more">
                                <div class="equipment-1 gilroy-bold-grandis-18px">read more</div>
                                <img class="iconnavigationarrow_downward_24px" src="icon-navigation-arrow-downward-24px-1.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-1">
                    <div class="overlap-group">
                        <div class="equipment gilroy-bold-white-240px">03</div>
                        <div class="content">
                            <div class="tagline-2">
                                <div class="line-2"></div>
                                <div class="where-you-go-is-the-key gilroy-extra-extra-bold-grandis-18px">WHERE YOU GO IS THE KEY</div>
                            </div>
                            <div class="understand-your-map-timing chronicledisplay-normal-white-64px">Understand Your Map &amp; Timing</div>
                            <div class="to-start-print-out gilroy-bold-white-18px">
                            To start, print out the hiking guide and map. If
                            it's raining, throw them in a Zip-Lock bag. Read over the
                            guide, study the
                            map, and have a good idea of what to expect. I
                            like to know what my next landmark is as I hike. For example,
                            I'l1 read the
                            guide and know that say, in a mile, I make a
                            right turn at the junction..
                            </div>
                            <div class="more">
                                <div class="equipment-1 gilroy-bold-grandis-18px">read more</div>
                                <img class="iconnavigationarrow_downward_24px" src="icon-navigation-arrow-downward-24px-1.svg"/>
                            </div>
                        </div>
                    </div>
                    <img class="x01-3" src="01-3.png" /> 
                </div>

                <div class="footer">
                    <div class="flex-col">
                        <div class="logo-1"> 
                            <div class="m chronicledisplay-bold-white-32px">M</div>
                            <div class="n chronicledisplay-bold-white-32px">N</div>
                            <div class="t chronicledisplay-bold-white-32px">T</div>
                            <div class="n-1 chronicledisplay-bold-white-32px">N</div>
                        </div>
                        <div class="get-out-there-disc gilroy-bold-white-18px">Get out there &amp; discover your next slope,mountain &amp; destination!</div>
                        <div class="copyright-2019-mntn gilroy-medium-white-18px" >Copyright 2019 MNTN, Inc. Terms &amp: Privacy</div>
                    </div>
                    <div class="links">
                        <div class="more-on gilroy-bold-grandis-24px">More on The Blog </div>
                        <div class=about-mntn gilroy-medium-white-18px">About MNTN</div>
                        <div class="contributors-writers gilroy-medium-white-18px">Contributors Writers</div>
                        <div class="write-for-us gilroy-medium-white-18px">Write For Us</div>
                        <div class="contact-us gilroy-medium-white-18px">Contact Us</div>
                        <div class="privacy-policy gilroy-medium-white-18px" >Privacy Policy</div>
                    </div>
                    <div class-"links-1">
                        <div class="copyright-2019-mntn gilroy-medium-white-18px">Copyright 2019 MNTN, Inc. Terms &amp; Privacy</div>
                    </div>
                    <div class="links">
                        <div class="more-on gilroy-bold-grandis-24px">More onThe Blog</div>
                        <div class="about-mntn gilroy-medium-white-18px">About MNTN</div>
                        <div class="contributors-writersgilroy-medium-white-18px">Contributors &amp; Writers</div>
                        <div class="write-for-us gilroy-medium-white-18px">Write For Us</div>
                        <div class= "contact-us gilroy-medium-white-18px">Contact Us</div>
                        <div class="privacy-policy gilroy-medium-white-18px">Privacy Policy</div>
                    </div>
                    <div class="links-1">
                        <div class="more-on gilroy-bold-grandis-24px">More on MNTN</div>
                        <div class="the-team gilroy-medium-white-18px" >The Team</div>
                        <div class="jobs gilroy-medium-white-18px"> Jobs</div>
                        <div class="press gilroy-medium-white-18px">Press</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>