

<section class="sfondoRosa py-5 ">
    <div class="container-fluid justify-content-center p-3 text-center">
       <h2>WHAT'S ON </h2>
    </div>
    <marquee 
      onmouseover="this.stop();" onmouseout="this.start();"
      width="100%"
      behavior="alternate">
      <img class="oggetto" src="~/img/oggetto1.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto2.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto3.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto4.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto5.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto6.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto7.jpg" alt="">
      <img class="oggetto" src="~/img/oggetto8.jpg" alt="">
    </marquee>
</section>
<marquee behavior="scroll" scrollamount="3" direction="left" width="350"><p>START Lorem ipsum dolor sit amet END</p></marquee>
 <marquee 
      onmouseover="this.stop();" onmouseout="this.start();"
      width="100%"
      behavior="alternate">


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>