@model List<ClassificaProdotto>

    @foreach(ClassificaProdotto categoria in Model)
                        {
                           <h1>@categoria.ProdottiVenduti</h1> 
                        }
