@model CategorieProdotti


@{
    ViewData["Title"] = "Crea Prodotto";
}
@model Prodotto
<h1>Crea</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"action="@Url.Action("Crea", "Admin")" >
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Prodotti.Immagine" class="control-label"></label>
                <input asp-for="Prodotti.Immagine" class="form-control" />
                <span asp-validation-for="Prodotti.Immagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prodotti.Nome" class="control-label"></label>
                <input asp-for="Prodotti.Nome" class="form-control" />
                <span asp-validation-for="Prodotti.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prodotti.Descrizione" class="control-label"></label>
                <input asp-for="Prodotti.Descrizione" class="form-control" />
                <span asp-validation-for="Prodotti.Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prodotti.QuantitaDisponibile" class="control-label">Quantità Disponibile</label>
                <input asp-for="Prodotti.QuantitaDisponibile" class="form-control" />
                <span asp-validation-for="Prodotti.QuantitaDisponibile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prodotti.Prezzo" class="control-label"></label>
                <input asp-for="Prodotti.Prezzo" class="form-control" />
                <span asp-validation-for="Prodotti.Prezzo" class="text-danger"></span>
            </div>
                <div class="mb-3">
                <strong>Categoria:</strong>
                <select asp-for="Prodotti.CategoriaId" class="form-select" aria-label="Default select example">
                    <option selected>Seleziona una categoria</option>
                    @foreach(Categoria categoria in Model.Categorie)
                    {
                        <option value="@categoria.Id">@categoria.Nome</option>
                    }
                </select>
               </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
