
@{
    Layout = "_LayoutCrea";
}
@model CategorieProdotti
<div class="container-fluid sfondoBlu">
    <h1 class="col-12 text-center titolo p-3">Crea</h1>
    <hr />
    <div class="row">
            <form method="post" action="@Url.Action("Crea", "Admin")" class="row" >
                @Html.AntiForgeryToken()
                <div class="form-group col-md-6 col-12">
                    <label asp-for="Prodotti.Immagine" class="control-label"></label>
                    <input asp-for="Prodotti.Immagine" class="form-control" id="FormModifica" />
                    <span asp-validation-for="Prodotti.Immagine" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-12 ">
                    <label asp-for="Prodotti.Nome" class="control-label" ></label>
                    <input asp-for="Prodotti.Nome" class="form-control" id="FormModifica" />
                    <span asp-validation-for="Prodotti.Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label asp-for="Prodotti.Descrizione" class="control-label"></label>
                    <input asp-for="Prodotti.Descrizione" class="form-control" id="FormModifica" />
                    <span asp-validation-for="Prodotti.Descrizione" class="text-danger"></span>
                </div>
                
                <div class="form-group col-md-6 col-12">
                    <label asp-for="Prodotti.Prezzo" class="control-label"></label>
                    <input asp-for="Prodotti.Prezzo" class="form-control" id="FormModifica"/>
                    <span asp-validation-for="Prodotti.Prezzo" class="text-danger"></span>
                </div>
                    <div class="col-md-6 col-12">
                    Categoria
                    <select asp-for="Prodotti.CategoriaId" class="form-select" aria-label="Default select example">
                        <option selected>Seleziona una categoria</option>
                        @foreach(Categoria categoria in Model.Categorie)
                        {
                            <option value="@categoria.Id">@categoria.Nome</option>
                        }
                    </select>
                   <br>
                   </div>
              <div class="col-12 text-center">
                    <a class="btn btn-secondary"asp-controller="Admin" asp-action="Index">Annulla</a>
                    <button type="submit" class="btn sfondoBluBottone shadow-lg">Crea</button>
                </div>
            </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
