@model CategorieProdotti
<!-- form -->
<div class="container-fluid sfondoBlu">
    <h1 class="col-12 text-center titolo p-3">Modifica</h1>
    <hr />
               <form method="post" action="@Url.Action("Modifica", "Admin")" class="row">
	         @Html.AntiForgeryToken()
	        <div class="mb-3 col-md-6 col-12 ">
	        <strong>Immagine prodotto:</strong>
	        <input asp-for="Prodotti.Immagine" class="d-block w-100" id="FormModifica" />
	        <span asp-validation-for="Prodotti.Immagine" class="text-danger"></span>
	        </div>
	        <div class="mb-3 col-md-6 col-12">
		        <strong>Nome prodotto:</strong>
		        <input asp-for="Prodotti.Nome" class="d-block w-100" id="FormModifica"/>
		        <span asp-validation-for="Prodotti.Nome" class="text-danger"></span>
	        </div>
		        <div class="mb-3 col-md-6 col-12">
		        <strong>Descrizione:</strong>
		        <input asp-for="Prodotti.Descrizione" class="d-block w-100" id="FormModifica"/>
		        <span asp-validation-for="Prodotti.Descrizione" class="text-danger"></span>
	        </div>
		        <div class="mb-3 col-md-6 col-12">
		        <strong>Prezzo prodotto:</strong>
		        <input asp-for="Prodotti.Prezzo" class="d-block w-100" id="FormModifica"/>
		        <span asp-validation-for="Prodotti.Prezzo" class="text-danger"></span>
	        </div>
				<div class="mb-3 col-6 justify-content-center text-center">
					Categoria
					<select asp-for="Prodotti.CategoriaId" class="form-select" id="FormModifica" aria-label="Default select example">
						<option selected>Seleziona una categoria</option>
						@foreach(Categoria categoria in Model.Categorie)
						{
							<option value="@categoria.Id">@categoria.Nome</option>
						}
					</select>
				</div>

              <div class="col-12 text-center">
   
                <a asp-action="Index"><button type="button" class="btn btn-secondary">Annulla</button></a>
                <button type="submit" class="btn btn-primary btn-info">Salva modifiche</button>
              </div>
	          </form> 
</div>