<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_app_Museo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
 </head>
<body class="sfondoGiallo">
<!--Navbar-->
<header>
<nav class="navbar navbar-expand-lg sfondoGiallo">
   <div class="container-fluid">
       <a class="navbar-brand text-dark"  asp-controller="Home" asp-action="Index">
                <img src="~/img/navlogo.png" alt="" width="45" height="37" class="d-inline-block align-text-center">Mummia Museum
        </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
             </button>


<!-- Hover #1 -->

    <a class="navbar-brand text-dark"asp-area="" asp-controller="User" asp-action="Index">Shop</a>
 
<!--modal trigger login/registrazione-->

   <!--  <a class="nav-link active text-dark align-text-center" aria-current="page" href="#" data-bs-toggle="modal"  data-bs-target="#exampleModal" > Registrati <img src="~/img/navlogo-specchio.png" alt="" width="45" height="37" class="d-inline-block align-text-center"></a>-->
  </div>
 </nav>
</header>
    <div>
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    <footer class="sfondoGiallo footer text-muted container-fluid ">
        <div class="row">
            <div class=" container-fluid justify-content-center p-3 text-center bg-opacity-75 col-12 mt-5">
                    <h2><b>Contatti and Location</b></h2>
            </div>

            <div class=" container-fluid justify-content-center p-3 text-center bg-opacity-75 col-md-6 col-12">
                    <p><img src="~/img/telefono.png" width="20" height="20" alt="email" /> 081 123 1492</p>
                    <p><img src="~/img/lettera.png" width="20" height="20" alt="email" /> MuseoLaMummia@gmail.com</p>
                    <img src="~/img/contatti.png" width="100" height="100" alt="museo" />
 
            </div>

                 <div class="container-fluid justify-content-center p-3 text-center bg-opacity-75 col-md-3 col-6">
                        <p><img src="~/img/location.png" width="15" height="20" alt="email" /> Via Cristoforo Colombo</p>
                        <p>Italia, NA 8082</p>
                        <img src="~/img/museo.png" width="100" height="100" alt="museo" />
                </div>
                <div class="container-fluid justify-content-center p-3 text-center bg-opacity-75 col-md-3 col-6">
                        <p><img src="~/img/location.png" width="15" height="20" alt="email" /> Shara Abdel Rahman Fahmi, 15</p>
                        <p>Egitto, SH 1492</p>
                        <img src="~/img/museo1.png" width="100" height="100" alt="museo" />
                </div>
        </div>
    </footer>
     <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      <!-- Axios -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"> </script>
       <!-- Script per funzioni Axios -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!-- Modal login messo in disparte, potrebbe servire in futuro
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sezione login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Non sei registrato? Iscriviti!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Registrati</button>
        <button type="button" class="btn btn-primary">Entra</button>
      </div>
    </div>
  </div>
</div> -->

